# Entorno virtual
django-venv/
venv/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de configuración locales
*.sqlite3
*.log
*.pot
*.pyc

# Archivos de entorno (contraseñas, claves, etc.)
.env
*.env

# Archivos generados por Django
db.sqlite3
media/
staticfiles/
*.mo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo
